
table {
  max-width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  color: black;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:white;
}

th {
  background-color: black;
  text-align: center;
}

tr:nth-child(even) {
  background-color: black;
}

tr:nth-child(odd) {
  background-color: black;
}


td:nth-child(6), 
td:nth-child(7), 
td:nth-child(8) 
{
  max-width: 300px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



img {
  max-width: 50px;
  height: auto;
}

.table-container {
  max-height: 700px;
  overflow-y: 400px;
}
